<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.gkka" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GKKA</name>
    <description>
        GKKA
    </description>
    <author email="twt_93@yahoo.com" href="http://d2shop-mks.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-dialogs"  source="npm" spec="^1.3.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />

</widget>
